<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<body bgcolor="#9C2662">
	<table id="bagtable" width="999"  height="900" border="0" bgcolor="#FFFFFF" align="center">
		<tr>
			<td valign="top">
			<td width="1053" height="110" valign="top"><%= link_to (image_tag "logo.PNG", :title => "Logo")  %>
<div style="float:right; margin-right:auto;">

	
		<%= form_tag stores_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>				
		
				

			
		
<span class="style17"><span class="style18"></span></span>	</div>

				<table width="950" height="289" border="0" >
					<tr>
						<td width="150" valign="top">
							
		 
						</td>
						<td width="800" height="250">
		
						<center>
							<table width=85%  BGCOLOR="#000000"">
								<tr>
									<td>
										<td width="900" height="50"> 
										
										
									
											<center>
												<h2 class="style15"><div class="style1 blok"><strong>Store Details </strong></h2>
												
										    </center>


											
<table width="900" border="2">
  <tr>
    <th width="130">Store name</th>
    
    <th width="130">Area</th>
    <th width="300">Location</th>
   </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%= store.store_name %></td>
   
    <td><%= store.area %></td>
    <td><%= store.location %></td>
    <td><%= link_to 'Show', store, class: "btn btn-small btn-default" %></td>
    <td><%= link_to 'Edit', edit_store_path(store) , class: "btn btn-small btn-default"  %></td>
    
  </tr>
<% end %>
</table>












		




											
										
									</td>
								</tr>
							</table>
						</center>
					</td>
  

					<table>	  
						<tr>
							<td>
								<table width="800" border="0">
									<tr>
							
									</tr> 
									
								</table>
							</td>
						</tr>
					</table>
	 </br>
	 </br>
	 </br>
	 </br>
	 <center>
 <%= link_to 'Add New Store', new_store_path, class: "btn btn-large btn-primary"  %> </center>
	 </br>
	 </br>
	 </br>

	

					<center>
					<div class="copyright">
					Copyright &copy; 
					<a href="http://www.onevega.com" class="white">Onevega</a> 
					2013. All rights reserved.
					</div>
					</center>

			</tr>
 
	</table>










































