<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<body bgcolor="#9C2662">
	<table id="bagtable" width="999"  height="900" border="0" bgcolor="#FFFFFF" align="center">
		<tr>
			<td valign="top">
			<td width="1053" height="110" valign="top"><%= link_to (image_tag "logo.PNG", :title => "Logo")  %>
			<div style="float:right; margin-right:auto;"><span class="style17"><span class="style18"></span></span>	</div>

				<table width="950" height="289" border="0" >
					<tr>
						<td width="150" valign="top">
							
		 
						</td>
						<td width="800" height="250">
		
						<center>
							<table width=85%  BGCOLOR="#000000"">
								<tr>
									<td>
										<td width="900" height="50"> 
										
										<marquee behavior="alternate"> 
										
										</marquee>
									
											<center>
												<h2 class="style15"><div class="style1 blok"><strong></strong></h2>
												
										    </center>




										
											<div class="row">
											
	
												<h4>Storeslist</h4>
														<p>Choose Your Favorite store to get their latest coupons and deals</p>
												
												</div>



												<table width="895" height="420" border="0">
  <tr>
    
	


    <td width = "200" height="100">
	<center>
	 <%= link_to "bigbazaar " , productnew_path  %> 
	 </center></br>
	<center>
	<!-- <marquee direction="up"> -->
   <%= link_to (image_tag "bigbazaar.PNG", :title => "view")%> 
   </marquee>
    </center>
	</td>


    
    

	<td width = "200" height="100">
	<center>
	<%= link_to "Reliance " , categories_path %> 
    </center></br>
	<center>
	<!-- <marquee direction="up"> -->
    <%= link_to (image_tag "Reliance.PNG", :title => "secrh")%> 
	</marquee>
    </center>
	</td>

    

 

  

   <td width = "200" height="100">
	<center>
	 <%= link_to "nilgiris " , list_path%> 
	 </center></br>
	<center>
	<!-- <marquee direction="up"> -->
   <%= link_to (image_tag "nilgiris.PNG", :title => "view")%> 
   </marquee>
    </center>
	</td>

  </tr>
</table>
										
									
									</td>
								</tr>
							</table>
						</center>
					</td>
  

					<table>	  
						<tr>
							<td>
							<center>
								<table width="401" height="273" border="1">
  <tr>
    <td>
	Bigbazzar
 </td>
    <td>Reliance;</td>
    <td>nilgiris;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</center>
							</td>
						</tr>
					</table>
	 
					<center>
					<div class="copyright">
					Copyright &copy; 
					<a href="http://www.onevega.com" class="white">Onevega</a> 
					2013. All rights reserved.
					</div>
					</center>

			</tr>
 
	</table>









































