<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<body bgcolor="#9C2662">
	<table id="bagtable" width="999"  height="900" border="0" bgcolor="#FFFFFF" align="center">
		<tr>
			<td valign="top">
			<td width="1053" height="110" valign="top"><%= link_to (image_tag "logo.PNG", :title => "Logo")  %>
			<div style="float:right; margin-right:auto;"><span class="style17"><span class="style18"></span></span>	</div>

				<table width="950" height="289" border="0" >
					<tr>
						<td width="150" valign="top">
							
		 
						</td>
						<td width="800" height="250">
		
						<center>
							<table width=85%  BGCOLOR="#000000"">
								<tr>
									<td>
										<td width="900" height="50"> 
										<!--
										<marquee behavior="alternate"> 
											<%= link_to (image_tag "baners.PNG", :title => "baner")%>
										</marquee>
										

										 <marquee direction="right"> 
<%= link_to (image_tag "11.PNG", :title => "secrh")%>
<%= link_to (image_tag "12.PNG", :title => "secrh")%>
<%= link_to (image_tag "13.PNG", :title => "secrh")%>
<%= link_to (image_tag "14.PNG", :title => "secrh")%>
</marquee> 
-->

										
									
											<center>
												<h2 class="style15"><div class="style1 blok"><strong> </strong></h2>
												
										    </center>

											<% provide(:title, @vendor.first_name) %>
											<div class="row">
											
											 <marquee direction="left">
											
											 <h2>
												You have successfully logged in welcome to FreeIndiaCoupons <b> <%= @vendor.first_name %> </b></br>
											</h2>
												 
											</marquee> 
											</right>
									
											
											</div>
<!--
<center>
<table width="811" height="284" border="0">
  <tr>
  </tr>
  <tr>
  <td>
<center>
 <!-- <button class="btn btn-large btn-danger" type="button" > upload your Product Coupons </button> --> 
 <!-- <%= link_to "Add Products " , productnew_path , class: "btn btn-large btn-inverse" %> 
  </center></br>
	<center>
 <%= link_to (image_tag "imagepointing.PNG", :title => "secrh")%> 
 </center>
</td>
  </tr>
  <tr>
    <td>
</td>
  </tr>
</table>
</center>

-->

<table width="895" height="420" border="0">
  <tr>
    <td width = "200" height="100">
	<center>
	<%= link_to "Add Products " , productnew_path , class: "btn btn-small btn-inverse" %> 
    </center></br>
	<center>
    <%= link_to (image_tag "imagepointing.PNG", :title => "secrh")%> 
    </center>
	</td>


    <td width = "200" height="100">
	<center>
	 <%= link_to "View Products Details" , productindex_path , class: "btn btn-small btn-danger" %> 
	 </center></br>
	<center>
	<!-- <marquee direction="up"> -->
   <%= link_to (image_tag "imagepointing.PNG", :title => "view")%> 
   </marquee>
    </center>
	</td>


    <td width = "200" height="100">
	<center>
	<%= link_to "Add Category " , productnew_path , class: "btn btn-small btn-inverse" %> 
    </center></br>
	<center>
    <%= link_to (image_tag "baby.PNG", :title => "secrh")%> 
    </center>
	</td>
    

	<td width = "200" height="100">
	<center>
	<%= link_to "View Category " , categories_path , class: "btn btn-small btn-danger" %> 
    </center></br>
	<center>
	<!-- <marquee direction="up"> -->
    <%= link_to (image_tag "imagepointing.PNG", :title => "secrh")%> 
	</marquee>
    </center>
	</td>
  </tr>
  <tr>
    <td width = "200" height="100">
	<center>
	 <%= link_to "View Orders " , productnew_path , class: "btn btn-small btn-inverse" %> 
	 </center></br>
	<center>
	<!-- <marquee direction="up"> -->
   <%= link_to (image_tag "imagepointing.PNG", :title => "view")%> 
   </marquee>
    </center>
	</td>

  <td width = "200" height="100">
	<center>
	 <%= link_to "View OrderItems " , productnew_path , class: "btn btn-small btn-danger" %> 
	 </center></br>
	<center>
	 <marquee direction="up"> 
   <%= link_to (image_tag "imagepointing.PNG", :title => "view")%> 
   </marquee>
    </center>
	</td>

   <td width = "200" height="100">
	<center>
	 <%= link_to "Add Stores " , storenew_path , class: "btn btn-small btn-inverse" %> 
	 </center></br>
	<center>
	<!-- <marquee direction="up"> -->
   <%= link_to (image_tag "imagepointing.PNG", :title => "view")%> 
   </marquee>
    </center>
	</td>

   <td width = "200" height="100">
	<center>
	 <%= link_to "View stores Details" , storeindex_path , class: "btn btn-small btn-danger" %> 
	 </center></br>
	<center>
	<!-- <marquee direction="up"> -->
   <%= link_to (image_tag "imagepointing.PNG", :title => "view")%> 
   </marquee>
    </center>
	</td>

  </tr>
</table>
										
									
									
									
									
									
									
									
									
									</td>
								</tr>
							</table>
						</center>
					</td>
  

					<table>	  
						<tr>
							<td>
								<table width="800" border="0">
									<tr>
							
									</tr> 
									
								</table>
							</td>
						</tr>
					</table>

					&nbsp
					&nbsp
					&nbsp
					&nbsp
					&nbsp


					<center> <%= link_to "LOGOUT " , vendorsignout_path ,  method: "delete" , class: "btn btn-large btn-inverse" %> </center>
	 
					<center>
					<div class="copyright">
					Copyright &copy; 
					<a href="http://www.onevega.com" class="white">Onevega</a> 
					2013. All rights reserved.
					</div>
					</center>

			</tr>
 
	</table>





































