<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<body bgcolor="#9C2662">
	<table id="bagtable" width="999"  height="900" border="0" bgcolor="#FFFFFF" align="center">
		<tr>
			<td valign="top">
			<td width="1053" height="110" valign="top"><%= link_to (image_tag "logo.PNG", :title => "Logo")  %>
			<div style="float:right; margin-right:auto;"><span class="style17"><span class="style18"></span></span>	</div>

				<table width="950" height="289" border="0" >
					<tr>
						<td width="150" valign="top">
							<table width="150" height="285" border="0">
								<tr>
									<td><%= link_to "Category", categories_path , class: "btn btn-large btn-inverse" %></td>
								</tr>
								<tr>
									<td><%= link_to "Bags", bags_path , class: "btn btn-large btn-inverse" %></td>
								</tr>
								<tr>
									<td><%= link_to "Travelbags", travelbags_path , class: "btn btn-large btn-inverse" %> </td>
								</tr>
								<tr>
									<td><%= link_to "Laptopbags", laptopbags_path , class: "btn btn-large btn-inverse" %></td>
								</tr>

							</table>
		 
						</td>
						<td width="800" height="250">
		
						<center>
							<table width=85%  BGCOLOR="#000000"">
								<tr>
									<td>
										<td width="800" height="50"> <BR><center>
										<font color="#00C5CD" face="Tahoma, Geneva, sans-serif">
										COOL COLLECTION OF BAGS</font></center><BR>
										<marquee behavior="alternate"> 
											<%= link_to (image_tag "bbaner.PNG", :title => "secrh")%>
										</marquee>
											<center>
												<h2 class="style15">LAPTOPBAGS</h2>
										    </center>
									</td>
								</tr>
							</table>
						</center>
					</td>
  

		<table>	  
			<tr>
				<td>
					<table width="700" border="0">
						<tr>
							<td><marquee direction="right"><%= link_to (image_tag "lb1.PNG", :title => "LaptopBag" ) , laptopbagsaddpage1_path ,   id: "logo" %></marquee></td>
						</tr> 
						<tr>
							<td><marquee direction="left"><%= link_to (image_tag "lb2.PNG", :title => "LaptopBag" ) , laptopbagsaddpage2_path ,   id: "logo" %></marquee></td>
						</tr> 
						<tr>
							<td><marquee direction="right"><%= link_to (image_tag "lb3.PNG", :title => "LaptopBag" ) , laptopbagsaddpage3_path ,   id: "logo" %></marquee></td>
						</tr> 
					</table>
				</td>
			</tr>
	</table>
	 
	<center>
		<div class="copyright">
		Copyright &copy; 
		<a href="http://www.onevega.com" class="white">Onevega</a> 
		2013. All rights reserved.
		</div>
	</center>

  </tr>
 
</table>


